[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pyyaml = "*"
requests = "*"
pysimplegui = "*"
numpy = "*"
pillow = "*"
piexif = "*"
setuptools-scm = "*"

[dev-packages]

[requires]
python_version = "3.9"
